
    .contactButton{
        color: white;
        border-width: 1px; 
        border-color: #FFFFFF;
        border-style: solid; 
        cursor: pointer;
        border-radius: 3px; 
        text-decoration: none;
        padding: 1.25rem 1.75rem }

    .contactButton:hover{
        background-color: rgba(255, 255, 255, 0.07);
    }

   