.cover-container{
    width: 100%;
    height: 60%;
    background-color: transparent;
    display: flex;
    overflow: hidden;
    position: relative;

}

.cover-text-content{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 auto;
    padding: 100px 80px;
    min-width: 200px;

}
@media screen and (max-width: 550px)
    .cover-text-content {
        padding: 120px 50px;
    }
    @media screen and (max-width: 630px)
        .cover-text-content {
            padding: 120px 70px;

        }

.cover-title{
    color: #FFFFFF;
    font-weight: 500;

}

.cover-text{
    color: #FFFFFF;
    font-weight: 300;
}

i{
     font-size: 2em ;
     color: white;
     padding-right: 20px;

 }
.icon{
    font-size: 20px ;
    color: white;
    padding-right: 20px;


}


.project-gallery-container{
    padding: 5% 0%;
    justify-content: space-between;
    align-content: center;
    margin: auto;
    flex-direction: row;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: scroll;
    perspective: 2000px;
    padding-bottom: 30px;
    width: 60%;

}
@media screen and (max-width: 800px)
.project-gallery-container{

}

    .project-header{
        color:#2182F7;
        font-weight: 700;
        text-align: center;
        padding-top: 40px;


    }

.third-section{
    width:100%;
    height: 900px;
    background-color: #353782;
    content: none;

}
.northern{
    animation-delay:
            0s
;
    animation-direction:
            normal
;
    animation-duration:
            10s
;
    animation-fill-mode:
            none
;
    animation-iteration-count:
            infinite
;
    animation-name:
            change_color
;
    animation-play-state:
            running
;
    animation-timing-function:
            ease
;
    bottom:
            0px
;
    box-sizing:
            border-box
;
    color:
            rgb(255, 255, 255)
;
    display:
            block
;
    font-family:
            Lato, Helvetica, sans-serif
;
    font-size:
            16px
;
    height:
            336px
;
    line-height:
            25.6px
;
    margin-bottom:
            -82.5px
;
    margin-left:
            0px
;
    margin-right:
            0px
;
    margin-top:
            -82.5px
;
    padding-bottom:
            0px
;
    padding-left:
            0px
;
    padding-right:
            0px
;
    padding-top:
            0px
;
    position:
            absolute
;
    right:
            -163.188px
;
    top:
            0px
;
    width:
            652px
;
    -webkit-font-smoothing:
            antialiased
;
}

.animation-shimerring {
    animation: change_color 10s ease infinite; }

@keyframes change_color {
    0% {
        -webkit-filter: hue-rotate(0deg);
        filter: hue-rotate(0deg); }
    100% {
        -webkit-filter: hue-rotate(360deg);
        filter: hue-rotate(360deg); } }