.cover-container{

    height: 60%;
    background-color: transparent;
    display: flex;
    overflow: hidden;
    position: relative;

}

.cover-text-content{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    justify-content: space-around;
    margin: auto;
    padding: 120px 60px;


}
@media only screen and (max-width: 800px) {
    [.cover-container] {
    width: 10%;
}
}
.profile-image{
    top: 20px;
    left: 20px;
    height: 60px;
    width: 60px;
    position: absolute;
    border-radius: 100px;
    animation-delay: 0s;
    animation-direction: normal;
    animation-duration: 10s;
    animation-fill-mode: none;
    animation-iteration-count: infinite;
    animation-name: change_color;
    animation-play-state: running;
    animation-timing-function: ease;
}

.cover-title{
    color: #FFFFFF;
    font-weight: 500;

}

.cover-text{
    color: #FFFFFF;
    font-weight: 300;
}
.skills-list{
    min-width: 400px;
}
i{
     font-size: 2em ;
     color: white;
     padding-right: 20px;


 }
.icon{
    font-size: 20px ;
    color: white;
    padding-right: 20px;


}


.project-gallery-container{
    padding: 5% 0%;
    justify-content: space-between;
    align-content: center;
    margin: auto;
    flex-direction: row;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: scroll;

    padding-bottom: 30px;
    max-width: 1200px;

}
@media screen and (max-width: 800px)
.project-gallery-container{

}

    .project-header{
        color:white;
        font-weight: 700;
        text-align: center;
        padding-top: 40px;


    }

.third-section{
    width:100%;
    height: 900px;
    background-color: #353782;
    content: none;

}
.northern{
    animation-delay: 0s;
    animation-direction: normal;
    animation-duration: 10s;
    animation-fill-mode: none;
    animation-iteration-count: infinite;
    animation-name: change_color;
    animation-play-state: running;
    animation-timing-function: ease;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    height: 336px;
    line-height: 25.6px;
    margin-bottom: -82.5px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 100px;
    position: center;
    right: -163.188px;
    top: 0px;
    width: 652px;
    z-index: 0;
}


@keyframes change_color {
    0% {
        -webkit-filter: hue-rotate(0deg);
        filter: hue-rotate(0deg); }
    100% {
        -webkit-filter: hue-rotate(360deg);
        filter: hue-rotate(360deg); } }